---
import { getImage, Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import socialNetworks from '@/assets/data/social-networks.json'
import skills from '@/assets/data/skills.json'

import sorteosClickImage from '@/assets/images/sorteos.click.png'
import autosolutionsImage from '@/assets/images/autosolutions.app.png'
import enerlinqImage from '@/assets/images/enerlinq.com.png'
import gerardoAncerImage from '@/assets/images/gerardoancer.com.png'
import hackcuuImage from '@/assets/images/hackcuu.com.png'
import profilePicture from '@/assets/images/profile.png'

const projects = [
	{
		name: 'Enerlinq',
		url: 'https://enerlinq.com',
		description: 'Technology and innovation startup company.',
		image: await getImage({ src: enerlinqImage, format: 'avif' }),
	},
	{
		name: 'Autosolutions',
		url: 'https://autosolutions.app',
		description: 'On-demand services for your vehicle & more.',
		image: await getImage({ src: autosolutionsImage, format: 'avif' }),
	},
	{
		name: 'Sorteos Click',
		url: 'https://sorteos.click',
		description: 'Create and manage your own raffles for free.',
		image: await getImage({ src: sorteosClickImage, format: 'avif' }),
	},
	{
		name: 'Gerardo Ancer',
		url: 'https://gerardoancer.com',
		description: 'Portfolio website for graphic designer Gerardo Ancer.',
		image: await getImage({ src: gerardoAncerImage, format: 'avif' }),
	},
	{
		name: 'HackCUU 2017',
		url: 'https://hackcuu.com',
		description: 'HackCUU 2017 MLH hackathon lead organizer.',
		image: await getImage({ src: hackcuuImage, format: 'avif' }),
	},
]

const navItems = ['Home', 'Skills', 'Projects', 'Contact']

---

<Layout title="Jonas Perusquia Morales">

    <header class="fixed top-0 left-0 right-0 z-20 bg-grayblue-800 bg-opacity-90">
        <nav class="container mx-auto px-6 py-3">
            <ul class="flex justify-center gap-6">
                {navItems.map((item) => (
                    <li>
                        <a href={`#${item.toLowerCase()}`} class="text-sm font-light uppercase tracking-wider transition-colors text-grayblue-300 hover:text-blue-300">
                            {item}
                        </a>
                    </li>
                ))}
            </ul>
        </nav>
    </header>

    <main class="container mx-auto px-6 pt-14 xs:pt-20">

        <!-- HOME SECTION -->
        <section id="home" class="py-14 sm:py-20">
            <div class="flex flex-col items-center lg:flex-row lg:justify-between">
                <div class="mb-8 text-center lg:mb-0 lg:text-left lg:w-1/2">
                    <h1 class="mb-4 text-5xl font-medium">Jonas Perusquia Morales</h1>
                    <h2 class="mb-6 text-2xl font-light text-blue-300">Chief Technology Officer</h2>
                    <p class="max-w-2xl text-xl text-grayblue-300">
                        Innovative tech leader with a passion for building scalable solutions and fostering high-performing teams.
                    </p>
                </div>
                <div class="relative h-64 w-64 overflow-hidden rounded-full border-4 border-blue-300 lg:h-80 lg:w-80">
                    <Image
                        src={profilePicture}
                        alt="Jonas Perusquia Morales"
                        width={640}
                        height={640}
                        class="rounded-full object-cover"
                        format='avif'
                    />
                </div>
            </div>
            <div class="mt-12 animate-bounce text-center">
                <span class="material-symbols-rounded mx-auto text-5xl! text-blue-300 rotate-90">chevron_right</span>
            </div>
        </section>

        <!-- GET IN TOUCH SECTION -->
        <section id="contact" class="py-14 sm:py-20">
            <h2 class="mb-12 text-center text-3xl text-grayblue-100 font-medium">Get in Touch</h2>
            <div class="flex justify-center flex-wrap gap-8">
                {
                    socialNetworks.map(socialNetwork => (
                        <a href={socialNetwork.url} class="flex flex-col items-center text-grayblue-300 hover:text-blue-300 transition-transform hover:scale-110 gap-2">
                            <div class="h-8 w-8">
                                <Fragment set:html={socialNetwork.image} />
                            </div>
                            <span class="text-xs font-medium bg-grayblue-800 px-2 py-1 rounded-md">{socialNetwork.name}</span>
                        </a>
                    ))
                }
            </div>
        </section>

        <section id="skills" class="py-14 sm:py-20">
            <h2 class="mb-12 text-center text-3xl font-medium">Skills & Expertise</h2>
            <div class="grid grid-cols-2 gap-8 md:grid-cols-4">
                {skills.map((skill) => (
                    <div class="rounded-lg bg-grayblue-800 p-6 text-center shadow-lg transition-all duration-300 hover:bg-slate-700 hover:scale-110">
                        <p class="text-lg text-center break-words hyphens-auto font-medium">{skill}</p>
                    </div>
                ))}
            </div>
        </section>

        <section id="projects" class="py-14 sm:py-20">
            <h2 class="mb-12 text-center text-3xl font-medium">Featured Projects</h2>
            <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
                {
                    projects.map(project => 
                        <a href={project.url} class="rounded-lg bg-grayblue-800 p-6 shadow-lg scale-image">
                            <h3 class="mb-3 text-xl font-semibold text-blue-300">{ project.name }</h3>
                            <p class="text-grayblue-300 mb-6">{ project.description }</p>
                            <div class="overflow-hidden aspect-video rounded-lg">
                                <img class="duration-300 transition-all aspect-video" src={ project.image.src } alt={ project.name }></img>
                            </div>
                        </a>
                    )
                }
            </div>
        </section>
    </main>

    <footer class="bg-grayblue-800 py-6 text-center text-sm text-grayblue-400">
        <p>Made with ♥️ from Chihuahua, Mexico.</p>
    </footer>

</Layout>
